# Extracting Emojis for Sentiment Analysis

In [ ]:
import spacy
from spacymoji import Emoji

In [ ]:
nlp = spacy.load("en_core_web_sm")
emoji = Emoji(nlp)
nlp.add_pipe("emoji", first=True)

In [ ]:
nlp.pipe_names

['emoji',
 'tok2vec',
 'tagger',
 'parser',
 'attribute_ruler',
 'lemmatizer',
 'ner']

In [ ]:
dataset

                                                   Tweet
0      A year ago! Any progress from the winning cand...
1      Bongbong Marcos, Sara Duterte express deepest ...
2      I decide I only vote for\rBBM‚ù§Ô∏è SARA DUTERTEüíö ...
3      Mr. Bbm and Ms. Sara Duterte are obviously wil...
4      THE CROWD IS INSANE. BBM YOULL FOREVER BE INSA...
...                                                  ...
13539  Dictator Ferdinand Marcos from the Philippines...
13540  This election rewrites history. People voted f...
13541  Hey, it‚Äôs a free country. No one has monopoly ...
13542                      HALA-lan. \n\n#Election2022PH
13543  Cheating- malalim na sugat kahit mahilom mahir...

[13544 rows x 1 columns]

In [ ]:
dataset_emojis = dataset['Tweet']

In [ ]:
dataset_emojis = dataset_emojis.to_frame(name='Tweet')

In [ ]:
def extract_emojies(x):
  doc = nlp(x['Tweet']) #with emojis
  emojis = [token.text for token in doc if token._.is_emoji]
  
  return emojis

emojies_df = dataset_emojis.apply(extract_emojies,axis=1)

0            [üòâ]
1             []
2        [‚ù§Ô∏è, üíö]
3             []
4             []
          ...
13539         []
13540       [üáµüá≠]
13541         []
13542         []
13543         []
Length: 13544, dtype: object

In [ ]:
emojies_df

0            [üòâ]
1             []
2        [‚ù§Ô∏è, üíö]
3             []
4             []
          ...
13539         []
13540       [üáµüá≠]
13541         []
13542         []
13543         []
Length: 13544, dtype: object

In [ ]:
emojies_df1 = emojies_df.to_frame(name='Emoji')
emojies_df1

         Emoji
0          [üòâ]
1           []
2      [‚ù§Ô∏è, üíö]
3           []
4           []
...        ...
13539       []
13540     [üáµüá≠]
13541       []
13542       []
13543       []

[13544 rows x 1 columns]

In [ ]:
#Transform Emojis to Text
def transform_emojis(text):
    text = emoji.demojize(text, delimiters=(" ", ",", ", ", " ,", ""))
    return text

emojies_df1['Emoji'] = emojies_df1['Emoji'].apply(transform_emojis)
emojies_df1

                          Emoji
0                 winking_face,
1
2       red_heart, green_heart,
3
4
...                         ...
13539
13540              Philippines,
13541
13542
13543

[13544 rows x 1 columns]

In [ ]:
emojies_df1 = emojies_df1["Emoji"].str.split(",",expand=True)
emojies_df1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,winking_face,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,red_heart,green_heart,,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13539,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13540,Philippines,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13541,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13542,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13543,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
emojies_df1.describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,13544,2838,1386,523,234,123,66,42,29,18,...,6,4,4,2,2,2,1,1,1,1
unique,365,247,144,90,60,46,31,24,14,11,...,4,3,3,2,2,2,1,1,1,1
top,,,,,,,,,,,...,,rolling_on_the_floor_laughing,,raised_fist,victory_hand,victory_hand,victory_hand,victory_hand,victory_hand,
freq,10706,1452,863,289,111,57,24,13,11,5,...,2,2,2,1,1,1,1,1,1,1

In [ ]:
emojies_df1 = emojies_df1.dropna(axis=1, how='all')

In [ ]:
emojies_df1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,winking_face,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,red_heart,green_heart,,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13539,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13540,Philippines,,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13541,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13542,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13543,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None